#header {
    --header-height: 60px;
    position: fixed;
    left: 0px;
    width: 100%;
    min-height: var(--header-height);
    background-color: rgb(137, 99, 99,  0.52);
    transition: var(--transition);
    z-index: 90;
}

#header>.header-c {
    min-height: var(--header-height);
    padding: 0px var(--site-pad);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-c>.actionBtns {
    cursor: pointer;
    padding: 0.1rem 0.1rem;
    font-size: 1.85rem;
    background-color: transparent;
    border: 1px solid transparent;
}
.header-c>.logo {
    position: inherit;
}

.header-c>nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: block;
    max-width: 300px;
    line-height: 50px;
    padding: 10px 25px 20px;
    backdrop-filter: blur(6px);
    transition: all 0.5s ease 0s;
    background: var(--box-bg-clr);
}
.header-c.is-active>nav {
    right: 0;
}
.nav-logo {
    font-size: 20px;
    transform: scale(1);
    align-items: center;
    justify-content: space-between;
}
.logo-name {
    color: var(--header-text-color);
    font-family: var(--font-four);
    font-weight: 600;
    margin-top: 5px;
}
.nav-logo i {
    font-size: 35px;
    color: var(--header-text-color);
    cursor: pointer;
}
.header-c .links {
    transition: var(--slowTransition);
}
.header-c .links ul {
    padding: 20px 0px;
    list-style: none;
}
.header-c .links li {
    position: relative;
    white-space: nowrap;
    font-weight: 600;
    border-bottom: 1px solid var(--body-txt-clr);
}
.header-c .links li:last-child {
    border-bottom: none;
}

#header .header-c .links li a {
    font-family: var(--font-four);
    text-transform: var(--navbar-item-text-transform);
}
.icoBtn {
    width: 40px;
    height: 40px;
    padding: 1px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}
.icoBtn:hover {
    background: #00000040;
}
.header-c .menuBtn {
    background: transparent;
    border-radius: 10%;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background: #00000066;
    transition: var(--transition);
}
.header-c.is-active>.nav-overlay {
    opacity: 1;
    visibility: visible;
}

@media screen and (min-width: 1025px) {
    .header-c .menuBtn {
        display: none;
    }
    .header-c>nav {
        display: flex;
        flex-grow: 1;
        padding: 0px;
        max-width: 80%;
        position: unset;
        justify-content: flex-end;
        backdrop-filter: blur(0px);
        background: transparent;
    }
    .nav-logo {
        display: none;
    }
    .header-c .links ul {
        padding: 10px 0px;
        display: flex;
        gap: 5px 30px;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
    }
    .header-c .links li {
        border-bottom: none;
    }
    .header-c .links li a {
        font-family: var(--font-four);
        font-size: 15px;
        color: #fffff0;
    }

    .header-c.is-active>.nav-overlay {
        opacity: 0;
        visibility: hidden;
    }
}