@font-face {
    font-family: ARSMaquettePro;
    src: url(../fonts/ARS-MaquettePro/ARSMaquettePro-Bold.woff2),
        url(../fonts/ARS-MaquettePro/ARSMaquettePro-Bold.woff);
}
@font-face {
    font-family: RobotoSerif;
    src: url(../fonts/RobotoSerif/RobotoSerif-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins.ttf);
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    background-color: var(--box-background);
}
::-webkit-scrollbar-thumb {
    background: var(--theme-clr);
    border-radius: 4px;
}
:root {
    --font-one: sans-serif;
    --font-two: 'ARSMaquettePro', sans-serif;
    --font-three: 'RobotoSerif', sans-serif;
    --font-four: 'Poppins', sans-serif;
    --site-pad: 30px;
    --btn-height: 40px;
    --title-size: 22px;
    --round-conners: 20px;
    --txt-shadow: 2px 2px 8px #000;
    --transition: all ease-in-out 0.3s;

    --outline: #8585857d;
    --overlay-clr: #00000096;
    --sidebar-outline: #636568;
    --box-shadow: 0rem 0.125rem 0.25rem #1f21241a,
        0rem 0.0625rem 0.375rem #1f21243d;
    --shadow-small: 0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f;
    --shadow-medium: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
    --shadow-large: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
}
@media screen and (min-width: 768px) {
    :root {
        --site-pad: 40px;
        --title-size: 24px;
    }
}
@media screen and (min-width: 1280px) {
    :root { --site-pad: 80px; }
}
@media screen and (min-width: 1440px) {
    :root { --site-pad: 160px; }
}
@media screen and (min-width: 1534px) {
    :root { --site-pad: 180px; }
}
@media screen and (min-width: 1920px) {
    :root { --site-pad: 210px; }
}

*{
	margin: 0;
	padding: 0;
	font-family: var(--font-one);
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: var(--font-one);
    scroll-behavior: smooth;
}
body {
    --body-bg-clr: #f1f2f4de;
    --body-txt-clr: #444;
    --box-bg-clr: #ffffffcc;
    --box-bg-clr-solid: #ffffff;
    --tertiary-clr: #ece9e8;
    --brightness: brightness(100%) contrast(1);
}
body.dark-theme {
    --body-bg-clr: #121418;
    --body-txt-clr: #e9e9e9;
    --box-bg-clr: #21212266;
    --box-bg-clr-solid: #212122;
    --tetiary-color: #000;
    --brightness: brightness(70%) contrast(1.1);
}
@media (prefers-color-scheme: dark) {
    body {
        --body-bg-clr: #121418;
        --body-txt-clr: #e9e9e9;
        --box-bg-clr: #21212266;
        --box-bg-clr-solid: #212122;
        --tetiary-color: #000;
        --brightness: brightness(70%) contrast(1.1);
    }

    body.light-theme {
        --body-bg-clr: #f1f2f4de;
        --body-txt-clr: #444;
        --box-bg-clr: #ffffffcc;
        --box-bg-clr-solid: #ffffff;
        --tertiary-clr: #ece9e8;
        --brightness: brightness(100%) contrast(1);
    }
}

body {
    color: var(--body-txt-clr);
    background-color: var(--body-bg-clr);
    background-repeat: no-repeat;
    background-size: cover;
    transition: var(--transition);
}
body::after {
    content: "";
    clear: both;
    display: table;
}
.wrapper {
    min-height: 100vh;
}
.wrapper>section {
    padding: 70px 0px;
}
.wrapper>section::after {
    content: "";
    clear: both;
    display: table;
}
a {
    text-decoration: none;
    color: var(--theme-clr);
}
img {
    filter: var(--brightness);
    transition: var(--transition);
    transform: scale(1.0);
    object-fit: cover;
}
p {
    font-family: var(--font-four);
    margin-bottom: 1rem;
}
.title,h1,h2,h3,h4,h5 {
    font-family: var(--font-two);
    margin-bottom: 0.5rem;
    line-height: 1.4;
}
span {
    font-family: var(--font-four);
}
.title {
    font-size: 1.7rem;
}

/* -- UI COMPONENTS -- */
.fitImg {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.txtShadowDrk {
    text-shadow: 1px 1px 1px #252525;
}
.flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
.flexCenter {
    align-items: center;
    -ms-flex-align: center!important;
    -webkit-box-align: center!important;
    justify-content: center!important;
    -ms-flex-pack: center!important;
    -webkit-box-pack: center!important;
    align-content: center;
    flex-direction: column;
}
.flexStart {
    align-items: baseline;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26ch, 1fr));
    grid-gap: 1.5em;
}
.flexSB {
    display: flex;
    justify-content: space-between;
}
.noPad {
    padding: unset !important;
}
.hide {
    display: none;
}
[hidden] {
    visibility: hidden;
}
.btn {
    --btn-clr: #fff;
    --btn-radius: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    position: relative;
    padding: 10px 16px;
    display: inline-block;
    text-decoration: none;
    color: var(--btn-clr);
    background: var(--theme-clr);
    font-family: var(--font-two);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    border-radius: var(--btn-radius);
}
.btn:active {
    transform: scale(0.92);
}
.btn[class*="-pill"],
.btn.pill {
    --btn-radius: 10em;
}
.btn[class*="-rounded"],
.btn.rounded {
    --btn-radius: var(--round-conners);
}
.btn[class*="ghost-"],
.plainBtn {
    background: transparent;
    border: 2px solid var(--theme-clr);
    color: var(--body-txt-clr);
}
.btn[class*="ghost-"]:hover,
.plainBtn:hover {
    background: var(--theme-clr);
    color: var(--btn-clr);
}
.container {
    height: 100%;
    overflow: hidden;
    padding: 0px var(--site-pad);
    padding-bottom: 0.1em;
}
.txtContain {
    padding: 50px var(--site-pad);
}
.secTitle {
    padding: 10px 0px;
    font-size: 1.7em;
    font-family: var(--font-two);
}
.secTitle:before,
.secTitle:after {
    display: inline-block;
    content: "";
    width: 15%;
    border-top: 1px solid;
    border-radius: 50%;
}
.secTitle.flexStart::before {
    display: none;
}
.secTitle.flexStart::after {
    width: 10%;
}
.secTitle .title {
    max-width: 80%;
    text-align: center;
}

.noneCard {
    width: 100%;
}
@media screen and (min-width: 550px) { .noneCard { width: 400px; } }
.card {
    position: relative;
    color: var(--body-txt-clr);
    box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    border-radius: var(--round-conners);
    background-color: var(--box-bg-clr);
    transition: var(--transition);
}
.cardImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-top-right-radius: var(--round-conners);
    border-top-left-radius: var(--round-conners);
    margin-bottom: 5px;
}
.cardImg img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cardImg img:hover {
    transform: scale(1.1);
    filter: brightness(76%) contrast(1.1);
}
.ovrLay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: var(--transition);
    border-radius: var(--round-conners);
    filter: brightness(80%) contrast(1.5);
    background-image: linear-gradient(transparent 40%, #00000080 77%);
}
.cardBody {
    padding: 6px 8px 14px;
    transition: var(--transition);
}
.cardBody .title {
    font-size: 1.15em;
    font-weight: 700;
    line-height: 1.2em;
}
.cardBody p {
    margin: 8px 0 1px 0px;
    font-size: 0.95em;
}
.secCard {
    --sec-radius: 0px;
    flex-wrap: wrap;
    background: black;
    min-height: 300px;
    border-radius: var(--sec-radius);
    position: relative;
    width: auto !important;
    padding: 40px var(--site-pad);
    margin: 0px calc(0% - var(--site-pad));
}
.secCard::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: var(--sec-radius);
    background: var(--overlay-clr);
}
.secCard .cardBody {
    padding: 0px;
    color: #fff;
    text-shadow: var(--txt-shadow);
}
.secCard .title {
    display: block;
    font-size: 2.4em;
    word-spacing: 0px;
}
.secCard p {
    font-size: 1.10em;
    margin: 0px;
}
@media screen and (min-width: 950px) {
    .secCard {
        --sec-radius: var(--round-conners);
        padding: 0px 90px;
        gap: 30px;
        flex-wrap: nowrap;
        width: 100% !important;
        margin: auto !important;
    }
    .secCard .title {
        font-size: 3em;
    }
    .secCard p {
        font-size: 1.20em;
    }
}


footer {
    background-color: var(--box-bg-clr);
    border-top: 2px solid var(--theme-clr);
}
footer p {
    margin: 0px;
}
.footer-b {
    padding: 30px 10px;
}

/* -- RESPONSIVENESS -- */
/* For mobile phones: */
[class*="col-"] {
    width:100%;
    float: left;
}
/* COL layouts for large screen: */
@media screen and (min-width: 950px) {
    .col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

@media screen and (min-width: 768px) {
    .blogCard .cardBody .title {
        font-size: 1.375rem;
    }
}
@media screen and (min-width: 1024px) {
    .imgBg {
        height: 100%;
    }
    .txtContain {
        padding: 70px 20px;
    }
}
@media screen and (min-width: 1280px) {
    .blogCard .cardBody .title {
        font-size: 1.3125rem;
    }
}